@model IEnumerable<CarritoVersion95.Models.Pedido>


@{
    ViewData["Title"] = "MisPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MisPedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PrecioTotal)
                </td>
                
            </tr>

            @*@foreach (var item2 in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.IdProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.IdTienda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.NombreProducto)
                    </td>

                </tr>
            }*@

        }
    </tbody>
</table>
