@model IEnumerable<CarritoVersion95.Models.Pedido>


@{
    ViewData["Title"] = "MisPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Mis Pedidos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => pedido.IdPedido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => pedido.PrecioTotal)

            </td>

        </tr>




        }
    </tbody>

</table>
@*@{var lista = @ViewBag.ListaItemsDePedidos;
    //var modelo = Model.IdPedido;
    foreach (var i in lista)
    {
        @if (i.IdPedido == Model.item.IdPedido)
        {
        <td>
            @ViewBag.ListaItemsDePedidos.IdPedido

        </td>
        }
    }
}*@
